
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.gallery{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 24px; 
  list-style: none;
  max-width: fit-content;
  margin: 0 auto;
  margin-top: 70px;
  
}


.gallery_img{
  width: 360px;
  height: 200px;
}